/* Parte 1 */
body {
    background-color: black;
    margin: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://assets.nflxext.com/ffe/siteui/vlv3/03fdc4bf-72f6-4926-83a7-a76e6a1a5591/569d3d3c-54b3-434c-bbb5-61a8cf96cf9b/IT-it-20211115-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto 3fr;
    grid-template-areas:
        "logo . select"
        "central-form central-form central-form";
}

.logo {
    grid-area: logo;
    width: 200px;

}

picture>img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 45px;
    margin-top: 20px;
}

.select {
    grid-area: select;
    display: flex;
    place-self: center right;
}

.select a {
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    width: 69px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select select {
    height: 30px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 5px;
}
.select select option{
    background-color: black;

}

.central-form {
    grid-area: central-form;
    color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;   
    align-items: center;
    margin-top: 20px;
}

.central-form>h1 {
    font-size: 4vw;      /*70px */
    text-align: center;
}

.central-form>h3 {
    margin-top: -15px;
    font-size: 30px;    /* 30px */
    line-height: 6vh;
    text-align: center;
}

.start {
    background-color: red;
    color: white;
    width: 40%;
    min-height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.barra {
    width: 70%;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.box {
    width: 100%;
    min-height: 88px;
}

/*Parte 2 */
.container2 {
    display:grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: 1fr;
    position: relative;
    border-bottom: 8px solid #222222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.text-parte2 {
    grid-column: 2 / 3;
    grid-row: 1;
    margin:0px;
    padding: 10%;
}
.text-parte2 h1 {
    font-size: 45px;
}
.img-tv2 {
    grid-column: 3 / 4;
    grid-row: 1;
    position: relative;
    margin:0px;
    max-width: 100%;
}
.misure {
    width: 90%;
    position: absolute;
    max-width: 100%;
    max-height: auto;
}
.video-parte2 {
    position: absolute;
    margin-top: 14%;
    margin-left: 12%;
    width: 66%;
    max-width: 100%;
    max-height: auto;
}
/*Parte 3 */

/*Parte 4 */
.border4 {
    width: 100%;
    height: 50vh;
    max-height: 400px;
    min-height: 400px;
    margin: 0px;
    border-bottom: 8px solid #222222;
    padding: 50px 20px;
}
.container4{
    display: flex;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-between;
}
.text {
    height: 50vh;
    max-width: 100%;
    max-height: 400px;
    min-height: 400px;
    flex: 50% 1;
}
.tv {
    position: relative;
    height: 50vh;
    max-width: 100%;
    max-height: 400px;
    min-height: 400px;
    flex: 50% 1;
    margin-top: 5vh;
}
.monitor {
    position: absolute;
    width: 100%;
    max-width: 100%;
    max-height: auto;
    margin: 0px;
    z-index: 2;
}
.video {
    position: absolute;
    width: 65%;
    max-width: 100%;
    max-height: auto;
    z-index: 1;
    margin-left: 17%;
    margin-top: 8%;
}
.title {
    font-size: 50px;
}
.subtitle{
    font-size: 27px;
    font-weight: lighter;
}

/*Parte 5 */

/*Parte 6 */
.domande-frequenti{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 500px;
    box-sizing: border-box;
}
.domande-frequenti>h2{
    font-size: 50px;
    font-weight: bold;
}
.domande-frequenti>article>h4{
    font-size: 25px;
    padding:0px 30px
}
summary{
    list-style: none;
    display: flex;
}
details{
    background-color: rgb(69, 69, 69);
    margin: 5px;
}
details>h4{
    font-size: 25px;
    padding:15px 30px;

}
.abn{
    font-size: 25px;
}
#barra-sotto{
    padding-bottom: 100px;
}
.container-faq{
    font-size: 25px;
    text-align-last: left;
    padding: 20px 30px;
    background-color: rgb(69, 69, 69);
    width: 800px;
    margin: 5px;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
footer>section>article{
    display: flex;
    color: white;
    width: 1000px;
    padding:5px 40px;
    box-sizing: border-box;
}
footer>section>nav {
    width: 1000px;
    color: white;
    display: flex;
}

footer nav div {
    padding: 5px 40px;
}
.language-container{
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 5px 40px;
    box-sizing: border-box;
 
}
.language-container>select{
    height: 30px;
    width: 100px;
    display: flex;
    color: white;
    background-color:transparent;
    border-radius: 5px;
}
.language-container>select>option{
    color: black;
}
@media (max-width:500px){
    /* PARTE 1 */
    .box{
        min-height: 40px;
        max-width: 100%;
    }
    .barra{
        flex-direction: column;
    }
    .start{
        font-size: 15px;
        min-height: 35px;
        margin-top: 10px;
        max-width: 20%;
    }
    .central-form>h3{
        line-height: 20px;
        font-size: 15px;
        margin: 10px 25px;
    }

    /* PARTE 2 */
    .container2 {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35% 65%;
        position: relative;
        border-bottom: 8px solid #222222;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        min-height: 500px;
        max-height: 500px;
    }
    .text-parte2 {
        grid-column: 1;
        grid-row: 1 / 2;
        margin: -30px;
        padding: 10%;
        text-align: center;
        align-items: flex-start;
    }
    .text-parte2 h1 {
        font-size: 30px;
        text-align: center;
    }
    .text-parte2 h3 {
        font-size: 15px;
    }
    .img-tv2 {
        grid-column: 1;
        grid-row: 2 / 3;
        position: relative;
        margin:0px;
        margin-top: -15px;
        padding-left: 5%;
        max-width: 100%;
    }
    .misure {
        width: 90%;
        position: absolute;
        max-width: 100%;
        max-height: auto;
    }
    .video-parte2 {
        position: absolute;
        margin-top: 14%;
        margin-left: 12%;
        width: 66%;
        max-width: 100%;
        max-height: auto;
    }
    /* PARTE 3 */


    /* PARTE 4 */
    .border4 {
        width: 100%;
        height: 60vh;
        margin: 0px;
        border-bottom: 8px solid #222222;
        padding: 50px 20px;
        max-height: 500px;
        min-height: 500px;
    }
    .container4 {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-width: 500px;
        margin: 0px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
    }
    .text {
        margin: 0px;
        max-width: 100%;
        max-height: 200px;
        min-height: 200px;
        text-align: center;
        padding-right: 30px;
    }
    .tv {
        position: relative;
        width: 500px;
        max-width: 100%;
        max-height: auto;
        margin-top: 0px;
    }
    .monitor {
        position: absolute;
        width: 100%;
        max-width: 100%;
        max-height: auto;
        margin: 0px;
        z-index: 2;
    }
    .video {
        position: absolute;
        width: 65%;
        height: auto;
        max-width: 100%;
        max-height: auto;
        z-index: 1;
        margin-left: 17%;
        margin-top: 8%;
    }
    .title {
        font-size: 30px;
    }
    .subtitle{
        font-size: 20px;
        font-weight: lighter;
    }

    /* PARTE 5 */


    /* PARTE 6 */
    .domande-frequenti{
        margin: 0px;
    }
    .container-faq{
        width: 380px;
    }
    footer{
        align-items:flex-start ;
        width: 100vw;
    }
    footer>section>nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
    }
    footer>section>nav>*{
        flex: 1 1 10em;
    }
    
}